/* badge outline */
.badge-outline {
  background-color: transparent;
  border: 1px solid;
}

/* header-transparent */
.header-transparent .navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.header-transparent .navbar-light .navbar-nav .nav-link:hover,
.header-transparent .navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff;
}
.header-transparent .navbar .navbar-toggler:focus {
  outline: 0px;
}

.header-transparent .navbar .navbar-toggler .icon-bar {
  width: 21px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.header-transparent .navbar .navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 190%;
  background-color: #fff;
}

.header-transparent .navbar .navbar-toggler .middle-bar {
  opacity: 0;
}

.header-transparent .navbar .navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% -80%;
  background-color: #fff;
}

.header-transparent .navbar .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  transition: opacity 0.15s linear;
}

.header-transparent .navbar .navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  background-color: #fff;
}

.header-transparent .navbar .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.header-transparent .navbar .navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  background-color: #fff;
}

.header-transparent .navbar .navbar-toggler {
  padding: 0rem;
  font-size: 1.07rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
/* header-primary */

.header-primary .navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.header-primary .navbar-light .navbar-nav .nav-link:hover,
.header-primary .navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff;
}
.header-primary .navbar .navbar-toggler:focus {
  outline: 0px;
}

.header-primary .navbar .navbar-toggler .icon-bar {
  width: 21px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.header-primary .navbar .navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 190%;
  background-color: #fff;
}

.header-primary .navbar .navbar-toggler .middle-bar {
  opacity: 0;
}

.header-primary .navbar .navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% -80%;
  background-color: #fff;
}

.header-primary .navbar .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  transition: opacity 0.15s linear;
}

.header-primary .navbar .navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  background-color: #fff;
}

.header-primary .navbar .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.header-primary .navbar .navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  background-color: #fff;
}

.header-primary .navbar .navbar-toggler {
  padding: 0rem;
  font-size: 1.07rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* navbar */

.navbar-light .navbar-nav .nav-link,
.navbar-nav .dropdown-item,
.navbar-nav .dropdown-menu .dropdown-item .dropdown-link {
  color: #3c4d6b;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item .dropdown-link:focus {
  color:#800000 ;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item .dropdown-link:hover {
  color: #800000;
}

/* dropdown header */

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  color: #15549a;
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

/* dropdown*/

.dropdown-item {
  font-size: 14px;
  color: #3c4d6b;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: auto;
  vertical-align: 0;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;  
}

.navbar-nav .dropright > .dropdown-toggle {
  display: -webkit-box;
  display: flex;
}

.dropleft .dropdown-toggle::before {
  display: none;
}
/* navbar toggle */
.navbar .navbar-toggler {
  padding: 0rem;
  font-size: 1.07rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar .navbar-toggler:focus {
  outline: 0px;
}

.navbar .navbar-toggler .icon-bar {
  width: 21px;
  height: 3px;
  background-color: #15549a;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar .navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 190%;
  background-color: #15549a;
}

.navbar .navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar .navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% -80%;
  background-color: #15549a;
}

.navbar .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  transition: opacity 0.15s linear;
}

.navbar .navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  background-color: #15549a;
}

.navbar .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar .navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  background-color: #15549a;
}

.navbar-nav .dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

.navbar-nav .dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}

.navbar-nav .dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: -1px;
}

.navbar-nav .dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: -1px;
}

.navbar-nav .dropdown-menu .dropdown-item .dropdown-link {
  color: #3c4d6b;
}

/* breakpoints */
@media (min-width: 991.98px) {
  .w-lg-75 {
    width: 75%;
  }

  .border-left-lg {
    border-left: 1px solid #dee2e6;
  }

  .border-right-lg {
    border-right: 1px solid #dee2e6;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-nav .dropright .dropdown-menu {
    border: none;
  }

  .navbar-nav .dropdown .dropdown-toggle::after {
    display: inline-block;
    margin-left: auto;
    vertical-align: 0;
  }

  .navbar-nav .dropdown > .dropdown-toggle {
    display: -webkit-box;
    display: flex;
  }

  .navbar .nav-justified .nav-item {
    text-align: left;
  }

  .header-transparent {
    position:absolute;
    background-color: #15549a;
  }
}

@media (max-width: 768px) {
  .navbar-nav .dropright .dropdown-menu {
    border: none;
  }

  .navbar-nav .dropdown .dropdown-toggle::after {
    display: inline-block;
    margin-left: auto;
    vertical-align: 0;
  }

  .navbar-nav .dropdown > .dropdown-toggle {
    display: -webkit-box;
    display: flex;
  }

  .navbar .nav-justified .nav-item {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
  }

  .navbar .dropdown-menu {
    box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.05);
    border: 1px solid #e6ecef;
  }

  .dropdown-menu-lg {
    min-width: 416px;
  }

  .navbar-nav .dropdown > .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .navbar-nav .dropdown > .dropdown-menu .dropright .dropdown-menu,
  .navbar-nav .dropdown > .dropdown-menu .dropleft .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .navbar-nav .dropdown.show > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }

  .navbar-nav .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }

  .navbar-nav .dropdown > .dropdown-menu .dropright:hover .dropdown-menu,
  .navbar-nav .dropdown > .dropdown-menu .dropleft:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 991.98px) {
  .dropdown-menu-lg {
    min-width: auto;
  }

  .navbar .nav-justified .nav-item {
    text-align: left;
  }
}
