@charset "utf-8";

/* CSS Document */

/*

 Template Name : Borrow - A Loan Company Website Template
 Author : Jitu Chauhan;
 Version: 1.0.5;

+ General css 
+ Space css
+ Background & Block color 
+ Buttons
+ Input Form
+ Bullet
+ Icon
+ Navigation CSS

+ HOME
  - Home
  - Home-1
  - Home-2
+ LOAN PRODUCT
  - Loan Image Listing
  - Loan Icon Listing
  - Car Loan Single
  - Personal Loan Single
  - Home Loan Single
  - Education Loan Single
+ ABOUT US 
  - About us
  - Team
+ BLOG
  - Blog Listing
  - Blog Single
  - Two Column Masonry
  - Three Column Masonry
+ FEATURES
  - Compare Loan
  - Faq page
  - Testimonial
  - 404 Error
    - Gallery
      - Filterable Gallery 2 column
      - Filterable Gallery 3 column
      - Masonry Gallery
      - Zoom Gallery
    - Shortcodes
      - Tab
      - Accordion
      - Alert       

- CONTACT US
    
*/

/*-----------------------------------
General css class
-----------------------------------*/

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #778191;
  background-color: #f4f6f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px 0px;
  color: #0a2759;
  font-weight: 500;
}

h1 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -1px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  line-height: 1.6;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 26px;
  line-height: 1.6;
  font-weight: 400;
}

ul li,
ol li {
  line-height: 1.8;
}

a {
  color: #800000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #15549a;
}

strong {
  font-weight: 600;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 0px;
  font-size: 21px;
  border-left: 5px solid #15549a;
  color: #414346;
  font-style: italic;
  line-height: 35px;
  font-family: "Merriweather", serif;
  font-weight: 700;
}

blockquote.alignright {
  max-width: 50%;
}

blockquote.alignleft {
  max-width: 50%;
}

p:last-child {
  margin-bottom: 0px;
}

::selection {
  background: #ffecb3;
  color: #333;
}

*,
*::before,
*::after {
  transition: all 0.3s ease-in-out;
}

.text-highlight {
  color: #ffecb3;
}

.highlight {
  color: #800000;
}

.listnone {
  list-style: none;
  margin: 0px 0px 20px 0px;
  padding: 0;
}

.required {
  color: red;
}

.lead {
  color: #0a2759;
  line-height: 30px;
  font-size: 14px;
}

.text-white {
  color: #fff;
}

.title-white {
  color: #fff;
}

.title {
  color: #0a2759;
}

.text-bold {
  font-weight: 600;
}

.text-black {
  color: #000000 !important;
}

.text-light {
  color: #a1a4a8 !important;
}

.text-dark {
  color: #414855 !important;
}

.text-default {
  color: #09282A !important;
}

.text-danger {
  color: #df4040 !important;
}

.text-warning {
  color: #ff9700;
}

.text-light-blue {
  color: #cce4ff;
}

.border-primary {
  border-color: #15549a !important;
}

.text-primary {
  color: #15549a !important;
}

.border-default {
  border-color: #800000 !important;
}

.border-top-default {
  border-top: 3px solid #800000;
}

/*-----------------------------------
Space css class
-----------------------------------*/

/*----------------
margin space
-----------------*/

.mb0 {
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb140 {
  margin-bottom: 140px;
}

.mt0 {
  margin-top: 0px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt60 {
  margin-top: 60px;
}

.mt80 {
  margin-top: 80px;
}

.mt100 {
  margin-top: 100px;
}

.mr0 {
  margin-right: 0px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 10px;
}

.ml0 {
  margin-left: 0px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

/*----------------
less margin space from top
-----------------*/
.mt-20 {
  margin-top: -20px;
}

.mt-40 {
  margin-top: -40px;
}

.mt-60 {
  margin-top: -60px;
}

.mt-80 {
  margin-top: -80px;
}

/*---------------
Padding space
-----------------*/
.nopadding {
  padding: 0px;
}

.nopr {
  padding-right: 0px;
}

.nopl {
  padding-left: 0px;
}

.pinside10 {
  padding: 10px;
}

.pinside20 {
  padding: 20px;
}

.pinside30 {
  padding: 30px;
}

.pinside40 {
  padding: 40px;
}

.pinside50 {
  padding: 50px;
}

.pinside60 {
  padding: 60px;
}

.pinside80 {
  padding: 80px;
}

.pinside100 {
  padding: 100px;
}

.pdt10 {
  padding-top: 10px;
}

.pdt20 {
  padding-top: 20px;
}

.pdt30 {
  padding-top: 30px;
}

.pdt40 {
  padding-top: 40px;
}

.pdt60 {
  padding-top: 60px;
}

.pdt80 {
  padding-top: 80px;
}

.pdb10 {
  padding-bottom: 10px;
}

.pdb20 {
  padding-bottom: 20px;
}

.pdb30 {
  padding-bottom: 30px;
}

.pdb40 {
  padding-bottom: 40px;
}

.pdb60 {
  padding-bottom: 60px;
}

.pdb80 {
  padding-bottom: 80px;
}

.pdl10 {
  padding-left: 10px;
}

.pdl20 {
  padding-left: 20px;
}

.pdl30 {
  padding-left: 30px;
}

.pdl40 {
  padding-left: 40px;
}

.pdl60 {
  padding-left: 60px;
}

.pdl80 {
  padding-left: 80px;
}

.pdl120 {
  padding-left: 120px;
}

.pdr10 {
  padding-right: 10px;
}

.pdr20 {
  padding-right: 20px;
}

.pdr30 {
  padding-right: 30px;
}

.pdr40 {
  padding-right: 40px;
}

.pdr60 {
  padding-right: 60px;
}

.pdr80 {
  padding-right: 80px;
}

.y {
  padding-top: 220px;
}

/*---------------
Section Space
* Section space help to create top bottom space. 
*
-----------------*/
.section-space20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-space40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-space60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-space80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-space100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-space120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-space140 {
  padding-top: 140px;
  padding-bottom: 140px;
}

/*-----------------------------------------
Background & Block color 
------------------------------------------*/
.bg-light {
  background-color: #fafcfd;
}

.bg-primary {
  background-color: #15549a !important;
  color: #778191;
}

.bg-default {
  background-color: #09282A;
}

.bg-default-light {
  background-color: #ffdced;
}

.bg-white {
  background-color: #fff;
}

.outline {
  border: 1px solid #dee4ee;
}

.small-title {
  font-size: 14px;
  color: #778191;
  font-weight: 500;
}

.big-title {
  font-size: 36px;
  font-weight: 600;
  color: #082f5b;
}

.capital-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.bg-boxshadow {
  -webkit-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  -moz-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
}

.bg-gradient {
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f2b70+0,1f2b70+47,943a9e+100&0.9+0,0.9+100 */
  background: -moz-linear-gradient(
    -45deg,
    rgba(27, 120, 126, 1) 0%,
    rgba(27, 120, 126, 1) 47%,
    rgba(27, 120, 126, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(27, 120, 126, 0.9) 0%,
    rgba(27, 120, 126, 0.9) 47%,
    rgba(27, 120, 126, 0.9) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(27, 120, 126, 0.9) 0%,
    rgba(27, 120, 126, 0.9) 47%,
    rgba(27, 120, 126, 0.9) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e61f2b70', endColorstr='#e6943a9e', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.well-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
}

.bg-yellow-light {
  background-color: #fff9e0;
}

.bg-pink {
  background-color: #09282A !important;
}

.bg-dark {
  background-color: #4e5257 !important;
}

.bg-dark-blue {
  background-color: #023975;
}

.bg-light-blue {
  background-color: #15549a;
}

.text-pink {
  color: #800000;
}

.text-info {
  color: #0099fa !important;
}

.text-success {
  color: #1ca440 !important;
}

.card {
  border: 1px solid #d3dbea;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 30px;
}

.card-body {
  padding: 30px;
}

.card-header {
  background-color: #fff;
}

.text-custom
{
    color:#83bcfa;
}

/* Update 16 june 2017*/

/*-----------------------------------------
Buttons
------------------------------------------*/

.btn {
  font-size: 14px;
  border-radius: 2px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 19px 30px;
  font-weight: 600;
}

.btn-secondary {
  background-color: #800000 ;
  color: #fff;
  border-color: #800000;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #800000;
  border-color: #800000;
}

.btn-secondary.focus,
.btn-secondary:focus {
  color: #fff;
  background-color: #09282A;
  border-color: #09282A;
  box-shadow: 0 0 0 0.2rem hsla(330, 91%, 54%, 0.5);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #800000;
  border-color: #800000;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsla(120,100%,25%,0.4);
}

.btn-primary {
  background-color: #15549a;
  color: #fff;
  border-color: #15549a;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2573cb;
  border-color: #2573cb;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #2573cb;
  border-color: #2573cb;
  box-shadow: 0 0 0 0.2rem hsla(120,100%,25%,0.4);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2573cb;
  border-color: #2573cb;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsla(120,100%,25%,0.4);
}

.btn-outline {
  border: 2px solid #dee4ee;
  color: #9aa9c3;
  background-color: transparent;
  padding: 17px 28px;
}

.btn-outline:hover {
  border: 2px solid #dee4ee;
  color: #6a7a94;
  background-color: #dee4ee;
}

.btn-lg {
  padding: 25px 50px;
  font-size: 18px;
  text-align: center;
}

.btn-sm {
  padding: 15px 20px;
  font-size: 12px;
  text-align: center;
}

.btn-xs {
  padding: 4px 8px;
  font-size: 10px;
}

.btn-link {
  color: #15549a;
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 2px solid #15549a;
  display: inline-block;
  text-decoration: none;
}

.btn-link:hover {
  color: #800000;
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 2px solid #800000;
  text-decoration: none;
}

.btn-link.focus,
.btn-link:focus {
  text-decoration: none;
  border-color: #800000;
  box-shadow: none;
  color: #800000;
}

.btn-link-white {
  color: #fff;
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
  display: inline-block;
  text-decoration: none;
}

.btn-link-white:hover {
  border-color: #657bf9;
  color: #657bf9;
}

.btn-secondary-link {
  color: #800000;
  font-weight: 500;
  text-decoration: none;
}

.btn-secondary-link:hover {
  color: #15549a;
}

/*-----------------------------------------
Input Form
------------------------------------------*/

.control-label {
  text-transform: uppercase;
  color: #0a2759;
  font-size: 13px;
  font-weight: 600;
}

.form-control {
  width: 100%;
  height: 52px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  margin-bottom: 10px;
  border: 2px solid #e6ecef;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fff;
}

.required {
  color: red;
}

textarea.form-control {
  border-radius: 2px;
  height: auto;
}

select {
  -webkit-appearance: none;
  background-color: #fff;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  border: 2px solid #e6ecef;
  border-radius: 0.25rem;
  margin-right: -1px;
}

/*-----------------------------------------
content
------------------------------------------*/
.content {
  padding-bottom: 100px;
  padding-top: 100px;
}

.wrapper-content {
  margin-top: -40px;
  margin-bottom: 100px;
  position: relative;
}

/*-----------------------------------------
Bullet
------------------------------------------*/
.bullet {
  position: relative;
  padding-left: 20px;
  line-height: 32px;
}

.bullet-arrow-circle-right li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  display: block;
  position: absolute;
  left: 0;
  font-size: 14px;
  color: #788192;
  content: "\f35a";
  line-height: 2.5;
}

.bullet-arrow-right li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #747474;
  content: "\f101";
}

.bullet-check-circle li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #15549a;
  content: "\f058";
}

.bullet-check-circle-default li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #10a874;
  content: "\f058";
  padding-right: 4px;
}

/* update 16 june 2017 */
.list-pdf-file li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #800000;
  content: "\f1c1";
  padding-right: 4px;
}

.list-pdf-file li a {
  color: #104b8c;
  text-decoration: underline;
  font-weight: 500;
}

.list-pdf-file li a:hover {
  color: #800000;
}

/*-----------------------------------------
icon
------------------------------------------*/

.icon-1x {
  font-size: 24px;
}

/* default icon size of font*/
.icon-2x {
  font-size: 48px;
}

.icon-4x {
  font-size: 68px;
}
.icon-6x {
  font-size: 88px;
}

.icon-8x {
  font-size: 108px;
}

.icon-default {
  color: #09282A;
}

.icon-primary {
  color: #15549a;
}

.icon-secondary {
  color: #bcbcbc;
}

.dark-line {
  border-top: 2px solid #2b2e35;
}

/*-------- updated v 1.0.2 -------*/

.fa-default {
  color: #09282A;
}

.fa-success {
  color: #6eb232;
}

/*-----------------------------------------
top bar
------------------------------------------*/
.btn-close {
  position: relative;
}

.btn-close .close {
  position: absolute;
  right: -50px;
  top: 12px;
  padding: 5px 8px;
  background-color: #7f94af;
  text-shadow: none;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
}

.header-topbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #09282A;
  font-size: 12px;
  color: #83bcfa;
  font-weight: 500;
  text-transform: uppercase;
}

.top-text {
  padding-left: 20px;
  line-height: 1.6;
}

.top-text a {
  color: #83bcfa;
}

.top-text a:hover {
  color: #fff;
}

.search-nav {
  margin-left: 16px;
}

.search-btn {
  text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px 0px 0px 0px;
    color: #7e93ae;
    background-color: #eff3f8;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
}

.search-area {
  padding: 24px;
}

.header {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 99;
  -webkit-box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
  box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
  -moz-box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
}

.logo {
  line-height: 4;
}

/*-----------------------------------------
     Slider
------------------------------------------*/

.slider {
  position: relative;
}

.slider-img img {
  position: relative;
  z-index: -1;
  width: 100%;
}

.slider-img {
  background: -moz-linear-gradient(
    top,
    rgba(234, 249, 251, 0) 0%,
    rgba(234, 249, 251, 0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(234, 249, 251, 0) 0%,
    rgba(234, 249, 251, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(234, 249, 251, 0) 0%,
    rgba(234, 249, 251, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1b2429', endColorstr='#cc1b2429', GradientType=0);
  position: relative;
}

.slider-captions {
  position: absolute;
  bottom: 200px;
}

@font-face {
  font-family: myFirstFont;
  src: url('Comfortaa-VariableFont_wght.ttf');
  
}
.slider-title {
  color: #09282A;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
    font-family: myFirstFont;
}

.slider-text {
  color: #09282A;
}

.slider .owl-prev {
  position: absolute;
  left: 0px;
  top: 40%;
  left: 20px;
}

.slider .owl-next {
  position: absolute;
  right: 0px;
  top: 40%;
  right: 20px;
}

#slider .owl-next,
#slider .owl-prev {
  background-color: transparent !important;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#slider .owl-next:hover,
#slider .owl-prev:hover {
  background-color: #fff !important;
  border: 2px solid #fff;
  color: #15549a;
}

#slider .owl-pagination {
  margin: 0px;
  bottom: 40px;
  position: relative;
}

#slider .owl-page span {
  border-radius: 2px;
  width: 98%;
  height: 1px;
  background-color: #fff;
  margin: 0px;
}

#slider .owl-page {
  width: 5%;
}

/*-----------------------------------------
index-1
------------------------------------------*/

.rate-table {
  background-color: #fff;
  border-bottom: 1px solid #dee7f2;
  margin-top: -21px;
}

.loan-rate {
  font-size: 32px;
  color: #414855;
  margin-bottom: 0px;
  font-weight: 600;
  line-height: 1;
}

.rate-counter-block {
  border-right: 1px solid #dee7f2;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rate-icon {
  float: left;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.rate-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #778191;
}

.cta {
  background-size: cover;
  margin: 0;
  min-height: 410px;
  border: none;
  padding: 87px 0px;
  background: linear-gradient(rgba(128, 128, 0, 0.8), rgba(128, 128, 0, 0.8)),
    rgba(128, 128, 0, 0.8) url(../images/cta-img.jpg) no-repeat center;
}

.testimonial-name-1 {
  color: #15549a;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0px;
}

/*------------------------------------
 index-3 (updated: 16 june 2017)
-------------------------------------*/
.header-transparent {
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  position:fixed;
  z-index: 9;
  width: 100%;
}

.top-nav-collapse {
  background-color: #15549a;
}

.lender-logo-section {
  margin-top: -20px;
}

.lender-box {
  margin-bottom: 8px;
  margin-top: 8px;
}

.slider-gradient-img img {
  position: relative;
  z-index: -1;
  width: 100%;
}

.slider-gradient-img {
  position: relative;
  background: -moz-linear-gradient(
    -45deg,
    rgba(31, 43, 112, 0.9) 0%,
    rgba(31, 43, 112, 0.9) 47%,
    rgba(148, 58, 158, 0.9) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(31, 43, 112, 0.9) 0%,
    rgba(31, 43, 112, 0.9) 47%,
    rgba(148, 58, 158, 0.9) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(25, 46, 167, 0.9) 0%,
    rgba(24, 40, 134, 0.9) 47%,
    rgba(148, 58, 158, 0.9) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e61f2b70', endColorstr='#e6943a9e', GradientType=1);
}

.service-block-v3 {
  background-color: #fff;
  padding: 40px 0px 0px 0px;
  text-align: center;
  margin-bottom: 30px;
}

.service-block-v3 .service-content {
  padding: 5px 30px;
}

.service-block-v3 .service-title {
  margin-bottom: 20px;
  line-height: 24px;
}

.service-rate-block {
  margin-bottom: 30px;
}

.service-rate-block .product-rate {
  color: #09282A;
  margin-bottom: 6px;
  font-size: 18px;
}

.rate-text {
  font-size: 12px;
}

.customer-block {
  background-color: #fff;
  padding: 30px;
}

.customer-img {
  position: relative;
  margin-bottom: 30px;
}

.customer-text {
  color: #0a2759;
  font-size: 21px;
  margin-bottom: 30px;
  font-family: "Merriweather", serif;
  letter-spacing: -1px;
  font-style: italic;
  line-height: 36px;
  font-weight: normal;
}

.customer-name {
  font-size: 14px;
  font-weight: 600;
  color: #09282A;
}

.customer-quote-circle {
  background-color: #09282A;
  border-radius: 100%;
  padding: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 30px;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.how-it-block {
  background-color: #fff;
  padding: 30px;
  min-height: 320px;
}

.how-it-no {
  font-size: 76px;
  line-height: 86px;
  color: #15549a;
}

/*------------------------------------
 index-4 Students Home page
-------------------------------------*/

.students-slider-img img {
  width: 100%;
}

.fee-charges-table .list-group-item.active {
  z-index: 2;
  color: #414855;
  background-color: #eff4f9;
  border-color: #ccd8e5;
}

.fee-charges-table .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #d1deeb;
}

.education-rate-box {
  background-color: #eff4f9;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.education-rate-number {
  font-size: 32px;
  margin-bottom: 0px;
}

/*------------------------------------
 index-5 Business Loan Home Page
-------------------------------------*/
.business-loan-products {
  background-color: #fff;
  padding: 40px;
  border: 1px solid #dee4ee;
  text-align: center;
  margin-bottom: 30px;
}

.loan-products-icon {
  margin-bottom: 20px;
}

.about-img {
  position: relative;
}

.business-request-form {
  margin-bottom: -180px;
}

.business-request-form h3 {
  margin-bottom: 30px;
}

.business-request-form .form-group {
  margin-bottom: 0px;
}

.lender-block {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dee4ee;
  border-radius: 4px;
  text-align: center;
}

.rate-badge {
  background: #104b8c;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

/*------------------------------------
 index-6 Lead Genrator
-------------------------------------*/

.lead-hero-wrapper {
  background: url(../images/lead-hero-img.jpg) no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}

.lead-hero-caption {
  color: #fff;
  padding-top: 50px;
  margin-bottom: 20px;
}

.rating-list {
  color: #f99d31;
  margin-top: 25px;
  font-size: 14px;
}

.lead-hero-title {
  font-size: 48px;
  color: #fff;
  line-height: 58px;
}

.lead-calculator {
  background: #15549a;
  color: #fff;
  border-radius: 6px;
}

.lead-calculator .ui-widget.ui-widget-content {
  border: 1px solid #064489;
}

.lead-calculator .ui-widget-header {
  border: 1px solid #61a6f2;
  background: #61a6f2;
}

.lead-calculator .ui-widget-content {
  border: 1px solid #61a6f2;
  background: #61a6f2;
}

.lead-cal-small-text {
  font-size: 12px;
  color: #70adf0;
}

.pink-circle.circle {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: 2px solid #800000;
  border-radius: 100px;
  color: #800000;
  text-align: center;
  padding: 10px;
  margin: 0px auto 30px auto;
  line-height: 1.7;
  display: inline-block;
}

.highlight-outline {
  border-radius: 2px;
}

.highlight-outline.outline:hover {
  border-color: #15549a;
  -webkit-box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.2);
}

.counter-wrapper {
  background: url(../images/counter-wrapper.jpg) no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

.counter-block {
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}

.counter {
  display: inline-block;
  font-size: 46px;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}

.lead-testimonial .customer-quote-circle {
  position: initial;
  margin-bottom: 20px;
}

.lead-testimonial .testimonial-text {
  font-size: 18px;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
}

.about-lead-text {
  font-size: 19px;
  line-height: 30px;
}

.loan-block {
  background-color: #286ab3;
  padding: 40px 50px;
  color: #b0ceef;
  text-align: center;
  margin-bottom: 30px;
}

.loan-icon {
  margin-bottom: 30px;
}

.lead-calculator .slider .ui-widget-content .ui-state-default {
  background-color: #09282A !important;
  border-radius: 100%;
}

.percentage-text {
  position: relative;
  bottom: 28px;
  left: 32px;
}

.counter-small-text {
  font-size: 48px;
  font-weight: 600;
  margin-left: 10px;
  color: #fff;
}

/*------------------------------------
 index-7 homepage tab (11 June, 2018)
-------------------------------------*/

.nav-call-info {
  padding-top: 17px;
}

.header-regular .logo {
  line-height: 3.3;
}

.hero-section {
  background: url(../images/hero-img-1.jpg) no-repeat;
  background-size: cover;
  background-position-x: center;
}

.hero-tab-block {
  padding-top: 241px;
  padding-bottom: 100px;
}

.hero-tab-block .st-tabs .nav-link {
  padding: 18px 25px;
  text-align: center;
  margin-right: -1px;
  margin-left: -1px;
}

.hero-tab-block .st-tabs a {
  text-transform: capitalize;
}

.hero-tab-block .st-tabs .nav-tabs .nav-item.show .nav-link,
.hero-tab-block .nav-tabs .nav-link.active {
  color: #800000;
  background-color: white;
  border-color: #ffffff #ffffff #ffffff #ffffff;
}

.hero-tab-block .nav-tabs {
  border-bottom: transparent;
}

.hero-tab-block .btn-secondary {
  color: #fff;
}

.hero-tab-block .btn-secondary:hover {
  color: #fff;
}

.hero-tab-block .st-tabs .tab-content {
  border: transparent;
}

.hero-tab-block .tab-content {
  border: transparent;
}

.bg-olive
{
    background-color: #09282A ;
}
.text-olive
{
    color: #09282A ;
}

.bg-custom-light
{
    background-color: #8585e0;
}

.bg-lightgreen
{
    background-color: #125054;
}

.bgimg2
{
    background-image: url('../images/bgimg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* Nice Select 
-------------------------------------------------------------- */
.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #f3f7fa;
  border-radius: 2px;
  border: solid 2px #d5e0e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 64px;
  line-height: 40px;
  outline: none;
  padding: 9px 14px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  color: #0a2759;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #15549a;
}

.nice-select:after {
  border-bottom: 2px solid #0a2759;
  border-right: 2px solid #0a2759;
  content: "";
  display: block;
  height: 7px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 7px;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  border: 1px solid #999999;
  background-color: #fff;
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 0px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #0a2759;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #f3f7fa;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #343031;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.process-section {
  position: relative;
}

.process-section .circle {
  background-color: #fff;
  border: 3px solid #800000;
  color: #800000 ;
  margin: -32px auto 18px auto;
  position: relative;
}

.rating-testimonials .lead {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 18px;
}

.rating-testimonials .testimonial-text {
  font-family: inherit;
  color: #414855;
  font-style: normal;
  line-height: 27px;
  font-size: 18px;
}

.rating-testimonials .testimonial-name-1 {
  color: #585f66;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0px;
}

/*---------------------------------------------------
 index-8 homepage student-refinance (11 June, 2018)
-----------------------------------------------------*/
.refinance-hero-section {
  background: url(../images/Carstore%20refinance-10.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position-x: center;
}

.refinance-hero-block {
  padding-top: 164px;
  padding-bottom: 164px;
}

.refinance-hero-block h1 {
  font-size: 48px;
  line-height: 58px;
}

.refinance-rate-section {
  background-color: rgba(128, 128, 0, 0.8);
  color: #fff;
  padding: 20px 25px;
  position: absolute;
  bottom: 0;
  border-bottom: 5px solid #800000;
}

.refinance-rate-block {
  display: inline-block;
  margin-right: 20px;
  line-height: 2;
}

.refinance-rate-block-title {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 0px;
  color: #fff;
}

.how-it-section {
  color: #fff;
}

.how-it-section .how-it-block {
  background-color: transparent;
  padding: 0px;
  min-height: inherit;
  margin-bottom: 30px;
}

.how-it-section .how-it-no {
  float: left;
  color: #fff;
  font-size: 30px;
  height: 67px;
  width: 67px;
  background-color: #09282A;
  border-radius: 100%;
  display: block;
  line-height: 1;
  padding: 20px 26px;
}

.how-it-section .how-it-content {
  padding-left: 100px;
}

.benifits-feature {
  margin-bottom: 30px;
}

.benifits-feature ul li {
  padding-left: 20px;
  margin-bottom: 35px;
}

.benifits-feature .bullet-check-circle-default li:before {
  font-size: 20px;
}

.loan-rate-table .table-light {
  background-color: #eff5ff;
  margin-bottom: 30px;
}

.loan-rate-table .table thead {
  background-color: #e6f0ff;
}

.loan-rate-table .table > thead > tr > th {
  text-align: center;
  color: #800000;
  font-size: 18px;
  border-top: transparent;
  border-bottom: transparent;
  padding: 20px 43px 20px;
}

.loan-rate-table .table tbody tr td {
  text-align: center;
  font-size: 16px;
  color: #414855;
  font-weight: 600;
  border-top: transparent;
  padding: 20px 0px;
}

.loan-half-section {
  padding: 100px;
}

/*---------------------------------------------------
compare card table
-----------------------------------------------------*/

.compare-card-title {
  font-size: 18px;
  font-weight: 600;
}

.compare-table .table > thead > tr > th {
  padding: 12px 0px 10px 29px;
  text-align: left;
  font-weight: 500;
  color: #778191;
}

.compare-table .table > tbody > tr > td {
  border-top: transparent;
  padding: 30px;
  vertical-align: middle;
}

.compare-table .table {
  margin-bottom: 0px;
}

.expandable-info {
  background-color: #fafafb;
  padding: 0px !important;
}

.expandable-collapse {
  padding: 30px;
}

.expandable-info ul li {
  font-size: 14px;
  line-height: 24px;
  color: #778191;
}

.expandable-info .card {
  min-height: 285px;
}

.expandable-info .card-body {
  padding: 20px 20px 5px;
}

.compare-table .btn-link {
  font-size: 13px;
  padding-bottom: 0px;
}

/*---------------------------------------------------
compare personal loan table
-----------------------------------------------------*/

.compare-personal-loan-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #414855;
}

.compare-personal-loan-table .table > thead > tr > th {
  background-color: #f3f7fc;
  padding: 20px 0px 20px 29px;
  text-align: left;
  font-weight: 500;
}

.compare-personal-loan-table .table > tbody > tr > td {
  border-top: transparent;
  padding: 30px;
  vertical-align: middle;
}

.compare-personal-loan-table .table {
  margin-bottom: 0px;
}

.compare-personal-loan-table .list-group-item {
  position: relative;
  display: block;
  padding: 16px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(222, 227, 235, 1);
  font-size: 15px;
  color: #414855;
  font-weight: 600;
}

/*---------------------------------------------------
compare Student loan table
-----------------------------------------------------*/

.compare-student-loan-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #414855;
}

.compare-student-loan-table .table > thead > tr > th {
  background-color: #f3f7fc;
  padding: 20px 0px 20px 29px;
  text-align: left;
  font-weight: 500;
}

.compare-student-loan-table .table > tbody > tr > td {
  border-top: transparent;
  padding: 30px;
  vertical-align: middle;
}

.compare-student-loan-table .table {
  margin-bottom: 0px;
}

.compare-student-loan-table .list-group-item {
  position: relative;
  display: block;
  padding: 16px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(222, 227, 235, 1);
  font-size: 15px;
  color: #414855;
  font-weight: 600;
}

/*---------------------------------------------------
    Card Landing Page
-----------------------------------------------------*/
.card-hero-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgba(19, 88, 144, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(19, 88, 144, 1) 0%,
    rgba(19, 88, 144, 1) 37%,
    rgba(59, 64, 160, 1) 57%,
    rgba(59, 64, 160, 1) 77%,
    rgba(59, 64, 160, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(19, 88, 144, 1)),
    color-stop(37%, rgba(19, 88, 144, 1)),
    color-stop(57%, rgba(59, 64, 160, 1)),
    color-stop(77%, rgba(59, 64, 160, 1)),
    color-stop(100%, rgba(59, 64, 160, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(19, 88, 144, 1) 0%,
    rgba(19, 88, 144, 1) 37%,
    rgba(59, 64, 160, 1) 57%,
    rgba(59, 64, 160, 1) 77%,
    rgba(59, 64, 160, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(19, 88, 144, 1) 0%,
    rgba(19, 88, 144, 1) 37%,
    rgba(59, 64, 160, 1) 57%,
    rgba(59, 64, 160, 1) 77%,
    rgba(59, 64, 160, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(19, 88, 144, 1) 0%,
    rgba(19, 88, 144, 1) 37%,
    rgba(59, 64, 160, 1) 57%,
    rgba(59, 64, 160, 1) 77%,
    rgba(59, 64, 160, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(19, 88, 144, 1) 0%,
    rgba(19, 88, 144, 1) 37%,
    rgba(59, 64, 160, 1) 57%,
    rgba(59, 64, 160, 1) 77%,
    rgba(59, 64, 160, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#135890', endColorstr='#3b40a0', GradientType=1);
}

.card-benefit-tabs .st-tabs .tab-content {
  padding: 0px;
  border: none;
  background-color: transparent;
  margin-top: 30px;
}

.card-benefit-tabs .nav-tabs {
  border-bottom: 0px;
}

.card-benefit-tabs .st-tabs .nav-link {
  display: block;
  padding: 16px 49px;
  border: 1px solid #f6f9ff;
  border-radius: 5px;
  background-color: #f6f9ff;
  margin-bottom: -1px;
  margin-right: 10px;
}

.card-benefit-tabs .st-tabs a {
  font-size: 14px;
  font-style: initial;
  text-transform: capitalize;
  font-weight: 500;
  color: #7e93ae;
}

.card-benefit-tabs .st-tabs .nav-tabs .nav-item.show .nav-link,
.card-benefit-tabs .st-tabs .nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #15549a;
  border-color: #15549a;
}

.card-rate-info .list-group-item {
  position: relative;
  display: block;
  padding: 19px 30px;
  margin-bottom: 2px;
  background-color: #e8f0f9;
  border: transparent;
  font-size: 14px;
  border-radius: 0px;
}

/*---------------------------------------------------
    Card Landing Page
-----------------------------------------------------*/

.quick-info {
  float: right;
  font-size: 16px;
  color: #414855;
  font-weight: 600;
  padding-top: 9px;
}

.slider-second .slider-img {
  background: none;
}

.slider-second#slider {
  margin-bottom: -1px;
}

.slider-second#slider .owl-pagination {
  display: none;
}

.overlay-section {
  margin-top: -60px;
}

.hover-tabs.st-tabs .nav-link {
  display: block;
  padding: 16px 68px 16px 0px;
  border: none;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 10px;
}

.hover-tabs.st-tabs .tab-content {
  padding: 30px;
  border: 1px solid #ffffff;
  background-color: #fff;
  margin-top: -1px;
  border-radius: 5px;
}

.hover-tabs.st-tabs a {
  font-size: 16px;
  font-style: initial;
  text-transform: capitalize;
  font-weight: 500;
  color: #15549a;
}

.post-caption-block {
  position: relative;
}

.post-caption-img img {
  border-radius: 3px;
}

.post-caption-content {
  position: absolute;
  bottom: 0px;
  padding: 27px;
}

.post-caption-block .meta {
  text-transform: capitalize;
}

.cta-section-app {
  background: url(../images/rupixen1.jpg) no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

/*---------------------------------------------------
    borrow-life-saving
-----------------------------------------------------*/

.bank-account-tabs.st-tabs .nav-link {
  background-color: #f4f6f8;
  border-color: #f4f6f8;
}

.bank-account-tabs.st-tabs .tab-content {
  background-color: #ffffff;
  border-color: #eff1f3;
}

.bank-account-tabs.st-tabs .nav-tabs .nav-item.show .nav-link,
.bank-account-tabs.st-tabs .nav-tabs .nav-link.active {
  color: #f51f8a;
  background-color: #ffffff;
  border-color: #eff1f3 #eff1f3 #fff #eff1f3;
}

.bank-account-tabs .tab-content .table > thead > tr > th {
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 0px;
  padding: 18px 10px;
  text-align: left;
}

/*-----------------------------------------------------------------------
Service Page & Block Css
----------------------------------------------------------------------*/

#service .owl-next,
#service .owl-prev {
  background-color: transparent !important;
  border: 2px solid #a3b1c1;
  color: #a3b1c1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#service .owl-next:hover,
#service .owl-prev:hover {
  background-color: #f51f8a !important;
  border: 2px solid #f51f8a;
  color: #fff;
}

.service-block {
  transition: box-shadow 0.5s;
}

.service-block:hover {
  -webkit-box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
  -moz-box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
  box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
}

.service-block:hover i {
  color: #f51f8a;
}

#service .owl-controls {
  text-align: center;
  margin-top: 10px;
}

.icon-svg-2x {
  width: 80px;
}

.icon-svg-1x {
  width: 60px;
}

/*--------------------------------
Service-img
---------------------------------*/
.service-img-box {
  transition: box-shadow 0.5s;
}

.service-img-box:hover {
  -webkit-box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
  -moz-box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
  box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
}

.service-img {
  position: relative;
}

.circle {
  background-color: #e3f0fe;
  width: 60px;
  height: 60px;
  border: 1px solid #15549a;
  border-radius: 100px;
  color: #15549a;
  margin: -70px auto 40px auto;
  padding: 10px;
  text-align: center;
  line-height: 1.7;
}

.number {
  font-size: 24px;
  font-weight: 500;
}

.number-block {
  text-align: center;
}

.number-title {
  margin-bottom: 20px;
}

.circle-large {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  line-height: 2;
  padding: 10px;
  text-align: center;
  font-size: 42px;
}

.circle-default {
  background-color: #f51f8a;
  color: #fff;
}

/*--------------------------------
testimonial
---------------------------------*/
.testimonial-block {
  position: relative;
}

.testimonial-text {
  font-size: 19px;
  font-family: "Merriweather", serif;
  color: #414855;
  font-style: italic;
  line-height: 32px;
}

.testimonial-autor {
  padding-top: 15px;
  padding-bottom: 12px;
}

.testimonial-name {
  color: #fff;
  line-height: 1;
  margin-bottom: 5px;
}

.testimonial-title {
  color: #800000;
  margin-bottom: 0px;
}

.testimonial-img {
  float: left;
  padding-right: 29px;
}

.testimonial-meta {
  font-size: 12px;
}

.testimonial-name-inverse {
  color: #15549a;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.client-rating {
  margin-bottom: 10px;
}

.rate-done {
  color: #f9b218;
  letter-spacing: 3px;
}

.rate-remain {
  color: #c7ced5;
}

/*--------------------------------
footer
---------------------------------*/
.newsletter-form {
  margin-bottom: 30px;
}

.newsletter-title {
  color: #778191;
  margin-top: 10px;
}

.footer {
  background-color: #1e2127;
}

.footer-logo {
  margin-bottom: 30px;
}

.widget-footer ul li {
  line-height: 1.6;
  margin-bottom: 8px;
}

.widget-footer ul li a {
  color: #778191;
}

.widget-footer ul li a:hover {
  color: #800000;
}

.tiny-footer {
  background-color: #16191e;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.widget-footer {
  position: relative;
  padding-left: 20px;
  line-height: 32px;
}

.widget-footer ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #778191;
  content: "\f105";
}

.widget-social ul li {
  line-height: 1.6;
  margin-bottom: 8px;
}

.widget-social ul li a {
  color: #778191;
  text-transform: uppercase;
  font-weight: 500;
}

.widget-social ul li a i {
  width: 30px;
}

.widget-social ul li a:hover {
  color: #800000;
  text-decoration: underline;
}

.call-text span {
  padding-right: 10px;
  vertical-align: -webkit-baseline-middle;
}

/*--------------------------------
Page header 
---------------------------------*/
.page-header {
  margin: 0;
  padding: 175px 0px 80px;
  min-height: 410px;
  border: none;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(0, 0, 0, 0.2) url(../images/page-header.jpg) no-repeat center;
  background-size: cover;
}

.page-title {
  margin-bottom: 0px;
  font-size: 36px;
}

.rate-block {
  text-align: right;
}

.rate-number {
  margin-bottom: 0px;
  line-height: 1;
  color: #800000;
}

.btn-action {
  text-align: right;
}

.sub-nav {
  background-color: #eff3f8;
  border-top: 1px solid #dee7f2;
}

.is-sticky .sub-nav {
  position: relative;
  z-index: 9;
  top: 120px;
}

.sub-nav > .nav li a {
  padding: 16px;
  font-size: 14px;
  text-transform: uppercase;
  color: #7e93ae;
  font-weight: 500;
  border-right: 1px solid #dee7f2;
}

.sub-nav > .nav li a:hover {
  background-color: #fff;
  color: #800000;
}

.sub-nav > .nav li a:focus {
  background-color: #fff;
  color: #800000;
}

.sub-nav > .nav li.active a {
  color: red;
  background-color: #fff;
  color: #800000;
}

.page-breadcrumb .breadcrumb {
  background-color: transparent;
  padding: 0px;
  font-size: 12px;
  text-transform: uppercase;
  color: #15549a;
  font-weight: 700;
}

.page-breadcrumb .breadcrumb > .active {
  color: #fff;
  font-weight: 700;
}

.page-breadcrumb .breadcrumb > li a {
  color: #15549a;
  font-weight: 700;
}

.page-breadcrumb .breadcrumb > li a:hover {
  color: #800000;
}

.page-breadcrumb .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #15549a;
  content: "/\00a0";
}

/*--------------------------------
Blog  
---------------------------------*/
.post-holder {
  border-bottom: 1px solid #e8eaec;
  margin-bottom: 29px;
}

.post-header {
  border-bottom: 1px solid #dee4ee;
  margin-bottom: 20px;
  padding-bottom: 19px;
}

.meta {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #a4a7ac;
  margin-bottom: 14px;
  margin-top: 14px;
}

.meta span {
  margin-right: 0px;
}

.meta span:after {
  margin-left: 15px;
  margin-right: 15px;
  color: #b0b0b0;
  content: "|";
}

.meta span:last-child:after {
  margin-left: 0px;
  margin-right: 0px;
  content: "";
}

/*----- Related Post-----*/
.post-related {
  border-bottom: 1px solid #e8eaec;
}

.related-title {
  font-size: 18px;
  color: #4b5565;
}

/*----- prev-next-----*/
.post-navigation {
  border-bottom: 1px solid #e8eaec;
  margin-bottom: 29px;
  padding-bottom: 30px;
}

.prev-link,
.next-link {
  color: #778191;
  margin-bottom: 10px;
  display: block;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.prev-link:hover,
.next-link:hover {
  color: #800000;
}

.meta-date {
  color: #800000;
  font-weight: 600;
}

.meta-link {
  color: #a4a7ac;
}

/*--------------------------------
Blog-sidebar  
---------------------------------*/
.widget {
  padding: 24px;
  margin-bottom: 30px;
  background-color: #f4f6f8;
}

.widget-title {
  border-bottom: 1px solid #e8eaec;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.widget-category li a,
.widget-archives li a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  line-height: 14px;
  color: #778191;
  font-size: 14px;
}

.widget-category li a:hover,
.widget-archives li a:hover {
  color: #800000;
}

.widget-tags a {
  text-transform: uppercase;
  border: 2px solid #c3c7d1;
  padding: 9px 16px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #778191;
  border-radius: 4px;
  letter-spacing: 1px;
}

.widget-tags a:hover {
  background-color: #800000;
  color: #fff;
  border-color: #800000;
}

/*----- post-author-----*/
.post-author {
  border-bottom: 1px solid #e8eaec;
  margin-bottom: 29px;
  padding-bottom: 30px;
}

.author-header small {
  text-transform: uppercase;
  color: #de4526;
  font-weight: 700;
  margin-left: 15px;
}

.author-social a {
  color: #707070;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  padding: 8px 12px;
}

.author-social a:hover {
  background-color: #de4526;
  color: #fff;
}

/*----- comments-----*/
.comments-area {
  border-bottom: 1px solid #e8eaec;
  padding-bottom: 40px;
}

.comments-title {
  margin-bottom: 40px;
}

.comment-body {
  margin-bottom: 60px;
}

.comment-author img {
  /* width: 120px; */
  float: left;
}

.comment-info {
  padding-left: 120px;
}

.user-title {
  margin-bottom: 0px;
}

.comment-meta {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.reply-title {
  margin-bottom: 40px;
}

.childern {
  padding-left: 140px;
}

.leave-comments {
  background-color: #f3f5f5;
}

.widget-share {
  background-color: #fff;
  padding: 14px;
  position: absolute;
  top: 0px;
  right: -56px;
}

.btn-share {
  padding: 12px 16px;
  display: inline-block;
  line-height: 1;
  margin-bottom: 2px;
  font-size: 14px;
  width: 40px;
}

.btn-facebook {
  background-color: #3b5998;
  color: #fff;
}

.btn-facebook:hover {
  background-color: #3b5998;
  color: #fff;
}

.btn-twitter {
  background-color: #1da1f2;
  color: #fff;
}

.btn-twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

.btn-google {
  background-color: #dc483a;
  color: #fff;
}

.btn-google:hover {
  background-color: #dc483a;
  color: #fff;
}

.btn-linkedin {
  background-color: #0088b5;
  color: #fff;
}

.btn-linkedin:hover {
  background-color: #0088b5;
  color: #fff;
}

/*--------------------------------
Blog-single  
---------------------------------*/
.name {
  font-size: 14px;
  text-transform: uppercase;
  color: #800000;
  font-weight: 600;
  padding-left: 30px;
}

/*--------------------------------
Pagination  
---------------------------------*/

.st-pagination .pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #778191;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid #c3c7d1;
  font-weight: 600;
  border-radius: 4px;
  text-transform: uppercase;
  margin-right: 3px;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 8px 16px;
}

.st-pagination .pagination > li > a:focus,
.st-pagination .pagination > li > a:hover,
.st-pagination .pagination > li > span:focus,
.st-pagination .pagination > li > span:hover {
  z-index: 2;
  color: #fff;
  background-color: #800000;
  border-color: #800000;
  border-radius: 4px;
}

.st-pagination .pagination > li:first-child > a,
.st-pagination .pagination > li:first-child > span {
  margin-left: 0;
  border-radius: 4px;
}

.st-pagination .pagination > li:last-child > a,
.st-pagination .pagination > li:last-child > span {
  border-radius: 4px;
}

.st-pagination .pagination > .active > a,
.st-pagination .pagination > .active > a:focus,
.st-pagination .pagination > .active > a:hover,
.st-pagination .pagination > .active > span,
.st-pagination .pagination > .active > span:focus,
.st-pagination .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #800000;
  border-color: #800000;
  border-radius: 4px;
}

.st-accordion .accordion > .card {
  overflow: hidden;

  border-bottom: 1px solid #e0e7ea;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
}
.accordion > .card:not(:last-of-type) {
  border-bottom: 1px solid #e0e7ea;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion > .card > .card-header {
  border-radius: 4px;
  margin-bottom: -1px;
  padding: 8px 10px;
  border-bottom: 0px;
}

.accordion > .card > .card-body {
  padding: 10px 0px;
}

.accordion .card .card-body {
  padding: 10px 20px 20px 20px;
}

/*--------------------------------
Extra Plugin CSS - Back to top  
---------------------------------*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  border-radius: 5px;
  background: rgba(120, 0, 0, 1) url(../images/cd-top-arrow.svg) no-repeat
    center 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.5;
}

.no-touch .cd-top:hover {
  background-color: #cb2529;
  opacity: 1;
}

/*-------- filter gallery -------*/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.portfolioFilter {
  margin-bottom: 30px;
  text-align: center;
}

.portfolioFilter a {
  text-transform: uppercase;
  background-color: #eff3f8;
  padding: 9px 26px;
  display: inline-block;
  color: #7e93ae;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  border: 1px solid #dee7f2;
}

.portfolioFilter a:hover {
  color: #fff;
  background-color: #800000;
  border: 1px solid #800000;
}

.portfolioFilter a.current {
  color: #fff;
  text-decoration: none;
  background-color: #800000;
  border: 1px solid #800000;
}

/*---------- Thumbnail hover effect -------*/

/* ============================================================
GLOBAL
============================================================ */

.effects .img {
  position: relative;
}

.effects .img:first-child {
  margin-bottom: 20px;
}

.effects .img:last-child {
  margin-right: 0;
}

.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(128, 128, 0, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #de4526;
  cursor: pointer;
}

a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* ============================================================
EFFECT 6 - ICON BOUNCE IN
============================================================ */
#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

#effect-6 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#effect-6 .img.hover .overlay {
  opacity: 1;
}

#effect-6 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}

/*----------------- Gallery Wide ---------------*/

.gallery-thumbnail img {
  width: 100%;
}

.gallery-img img {
  width: 100%;
}

/*----------------- Image Hover Effect ---------------*/
img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}

.imghover {
  display: block;
  position: relative;
  max-width: 100%;
}

.imghover::before,
.imghover::after {
  display: block;
  position: absolute;
  content: "";
  text-align: center;
  opacity: 0;
}

.imghover::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.imghover::after {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: -25px 0 0 -25px;
  content: "\f06e";
  /* fa-eye */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 36px;
}

.imghover:hover::before,
.imghover:hover::after {
  opacity: 1;
}

.imghover:hover::before {
  background: rgba(128, 128, 0, 0.55);
}

.imghover:hover::after {
  color: #ffffff;
}

/*--------------------------------
Team  
---------------------------------*/

.designation {
  font-size: 12px;
  color: #09282A;
  text-transform: uppercase;
  font-weight: 600;
}

/*--------------------------------
About us 
---------------------------------*/

.cta-section-second {
  background: url(../images/top-up-sol-1.jpg) no-repeat;
  background-size: cover;
}

.cta-section-second h1 {
  font-size: 42px;
}

.text-big {
  font-size: 20px;
  color: #800000;
  font-weight: 600;
  margin-bottom: 0px;
}

/*--------------------------------
Contact us 
---------------------------------*/
.map {
  height: 400px;
}

.widget-contact {
  margin-top: 30px;
  margin-bottom: 30px;
}

.widget-contact li {
  margin-bottom: 10px;
  border-bottom: 1px solid #eff3f8;
  padding-bottom: 10px;
}

.widget-contact li span {
  width: 120px;
  display: inline-block;
}

/*----------------- Gallery Wide ---------------*/
.gallery-thumbnail img {
  width: 100%;
}

.gallery-img img {
  width: 100%;
}

.slide-ranger .ui-widget-header {
  background-color: #800000;
}

.slide-ranger .ui-state-default,
.ui-widget-content .ui-state-default {
  background-color: #fff !important;
}

.slide-ranger .ui-widget.ui-widget-content {
  border: 1px solid #800000;
}

.slide-ranger .ui-slider .ui-slider-handle {
  border-radius: 100%;
  border: 3px solid #800000;
}

/*--------------------------------
Product Single Sidebar
---------------------------------*/

.product-tabs ul {
  position: relative;
  z-index: 9;
}

.product-tabs .nav > li {
  margin-top: -1px;
}

.product-tabs .nav > li.active a {
  border-right: 1px solid #f4f6f8;
  background: #eff3f8;
  color: #800000;
}

.product-tabs .nav > li > a {
  background: #fff;
  border-bottom: 1px solid #dee7f2;
  border-right: 1px solid #dee7f2;
  border-left: 1px solid #dee7f2;
  border-top: 1px solid #dee7f2;
  color: #7e93ae;
  border-radius: 0px;
}

.product-tabs .nav > li > a:hover {
  background: #eff3f8;
  border-bottom: 1px solid #dee7f2;
  border-right: 1px solid transparent;
  border-left: 1px solid #dee7f2;
  border-top: 1px solid #dee7f2;
  color: #800000;
}

.product-tabs .nav > li > a i {
  padding-right: 10px;
}

.tab-content {
  background: #eff3f8;
  padding: 40px;
  border: 1px solid #dee7f2;
  position: relative;
  z-index: 8;
  margin-left: -1px;
  margin-top: -1px;
}

.product-tabs .nav-tabs .nav-item.show .nav-link,
.product-tabs .nav-tabs .nav-link.active {
  background: #eff3f8;
  border-bottom: 1px solid #dee7f2;
  border-right: 1px solid transparent;
  border-left: 1px solid #dee7f2;
  border-top: 1px solid #dee7f2;
  color: #800000;
}

.product-tabs .nav-tabs .nav-item.show .nav-link,
.product-tabs .nav-tabs .nav-link.active i {
  color: #800000;
}

/*--------------------------------
EMI Calculator
---------------------------------*/
.loantable {
  margin-top: 40px;
}

.table-head {
  background: #eff3f8;
}

.loan-title {
  margin-bottom: 30px;
}

.table-bordered {
  border: 1px solid transparent;
  color: #333;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #dee4ee;
  color: #0a2759;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fafcfd;
}

.table > thead > tr > th {
  padding: 12px 43px 12px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  text-align: center;
}

/*--------------------------------
Card Listing Page
---------------------------------*/
.card-listing {
  padding: 26px;
  border: 1px solid #dee7f2;
  margin-bottom: 30px;
  background: #eff3f8;
}

.card-content {
  margin-top: 20px;
}

.card-content .btn {
  margin-right: 30px;
}

.card-features {
  margin-top: 20px;
}

.card-features ul li {
  border-bottom: 1px solid #eff3f8;
  padding-bottom: 10px;
  margin-bottom: 8px;
  line-height: 1.5;
}

.card-head-sections {
  margin-bottom: 40px;
}

/*--------------------------------
Lender Listing Page
---------------------------------*/
.lender-listing {
  border: 1px solid #dee7f2;
  margin-bottom: 30px;
}

.lender-head {
  padding: 15px;
  background: #eff3f8;
  border-bottom: 1px solid #dee7f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lender-logo {
  width: 170px;
}

.lender-reviews {
  color: #ffb607;
}

.lender-rate-box {
  padding: 15px;
  border-bottom: 1px solid #dee7f2;
  display: flex;
  justify-content: space-between;
}

.lender-ads-rate {
  border-right: 1px solid #dee7f2;
}

.lender-ads-rate,
.lender-compare-rate {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.lender-rate-value {
  font-size: 20px;
  font-weight: 600;
  margin-top: 6px;
}

.lender-feature-list {
  padding: 20px;
  border-bottom: 1px solid #dee7f2;
}

.lender-feature-list ul {
  margin-bottom: 0px;
}

.lender-feature-list ul li {
  font-size: 14px;
  margin-bottom: 8px;
}

.lender-actions {
  text-align: center;
  padding: 20px;
}

.lender-actions .btn-link {
  margin-top: 30px;
  font-size: 14px;
}

.lender-head-sections {
  margin-bottom: 60px;
}

.lender-rates-list {
  background-color: #eff4f9;
  padding: 20px;
  border-radius: 4px;
}

.lender-loan-sections,
.lender-apply,
.lender-features,
.lender-rates-list {
  margin-bottom: 60px;
}

/*--------------------------------
Loan Eligibility Page
---------------------------------*/
.loan-eligibility-block {
  padding: 30px;
  background: #eff3f8;
}

.loan-eligibility-form .input-group-addon {
  border-left: 2px solid #e6ecef;
  border-top: 2px solid #e6ecef;
  border-bottom: 2px solid #e6ecef;
  background: #fff;
}

.loan-eligibility-form .control-label {
  margin-bottom: 10px;
}

.loan-eligibility-form .form-group {
  display: block;
}

.eligibility-amount {
  font-size: 52px;
  font-weight: 600;
  color: #15549a;
}

.eligibility-text {
  font-size: 21px;
}

/*-----------------------------------------
Shortcodes
------------------------------------------*/

.st-tabs .tab-content {
  padding: 30px;
  border: 1px solid #e6e9eb;
  background-color: #fff;
  margin-top: -1px;
  border-top: 0px;
}

.st-tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #800000;
  background-color: transparent;
  border-color: #dee7f2 #dee7f2 #ffffff #dee7f2;
}

.st-tabs .nav-link {
  display: block;
  padding: 16px 62px;
  border: 1px solid #dee7f2;
  border-radius: 0px;
  background-color: #eff3f8;
  margin-bottom: 1px;
}

.st-tabs a {
  font-size: 14px;
  font-style: initial;
  text-transform: uppercase;
  font-weight: 500;
  color: #7e93ae;
}

.st-tabs a:hover {
  color:#800000 ;
}

/*-----------------------------------------
Compare-Loan
------------------------------------------*/

.rate,
.fees,
.compare-rate,
.repayment {
  font-size: 18px;
  color: #4b5565;
  margin-bottom: 0px;
  margin-top: 15px;
  font-weight: 600;
}

.comapre-action {
  padding-top: 15px;
}

/*-----------------------------------------
Error-page
------------------------------------------*/
.error-img {
  text-align: center;
}

.error-title {
  font-size: 36px;
  color: #192139;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.msg {
  font-size: 24px;
  color:#09282A ;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*-----------------------------------------
Landing Page Template
------------------------------------------*/
.hero {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(0, 0, 0, 0.2) url(../images/lp-car-image.jpg) no-repeat center;
  background-size: cover;
}

.hero-home-loan {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(0, 0, 0, 0.2) url(../images/home-loan-lp.jpg) no-repeat center;
  background-size: cover;
}

.hero-title {
  font-size: 48px;
  line-height: 52px;
  color: #fff;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.hero-captions {
  padding-top: 80px;
}

.hero-text {
  color: #fff;
}

.request-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
}

.form-title {
  color: #104b8c;
  font-size: 30px;
}

.price-rate {
  margin-top: 30px;
}

.price-big {
  font-size: 40px;
  color: #fff;
  font-weight: 800;
}

.price-rate small {
  color: #fff;
  text-transform: uppercase;
}

.new-price,
.old-price {
  margin-bottom: 30px;
}

/*--------------- Features block class --------------*/
.circle-outline-icon {
  font-size: 36px;
  height: 80px;
  width: 80px;
  border: 2px solid #85b6ee;
  border-radius: 100%;
  padding: 18px 19px;
  margin-bottom: 30px;
  color: #15549a;
  display: block;
  line-height: 1.2;
  text-align: center;
}

.feature .feature-icon {
  margin-bottom: 20px;
}

/*-------- feature icon left --------*/

.feature-left .feature-icon {
  float: left;
  color: #15549a;
  font-size: 28px;
  line-height: 1;
}

.feature-left .feature-content {
  padding-left: 40px;
}

/*--------- feature center --------*/
.feature-center {
  text-align: center;
}

.feature-center .feature-icon {
  margin-bottom: 20px;
}

.feature-icon-style {
  text-align: center;
}

.feature-icon-style .feature-icon {
  margin: 0 auto 40px auto;
  background-color: #f4f6f8;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  padding: 24px;
  text-align: center;
  color: #15549a;
}

.feature-icon-style .feature-title {
  margin-bottom: 16px;
}

.call-to-action {
  color: #fff;
}

.feature-circle {
  background-color: #f4f6f8;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  padding: 14px;
  color: #15549a;
  font-size: 26px;
  text-align: center;
}

/*----- updated in v 1.0.2 ----*/
.feature-bg {
  background-color: #fff;
  border-radius: 4px;
  padding: 60px;
  text-align: center;
  border: 1px solid #eaeef1;
}

.feature-bg .feature-icon {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  font-size: 40px;
  text-align: center;
  line-height: 120px;
  margin: 0 auto 40px auto;
}

.feature-list-bar {
  background: #e3edf9;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #0a2759;
}

/* -- new pages --*/

.pinside300 {
  padding: 300px;
}

.icon-lg {
  height: 40px;
  width: 40px;
}
.hero-creditcard {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.2),
      rgba(67, 68, 70, 0.5)
    ),
    url(../images/hero-creditcard.jpg);
  background-size: cover;
}

.hero-creditcard .caption {
  padding: 80px 0px;
  margin-bottom: 30px;
}

.hero-creditcard .caption-title {
  font-size: 44px;
  line-height: 60px;
}

.card-category-space {
  padding: 100px 0px 220px;
}

.card-category-negative-space {
  margin-top: -11rem;
}

.working-card {
  position: relative;
  display: flex;
  align-items: center;
}

.working-card:before {
  content: "";
  position: absolute;
  background: url(../images/arrow.svg) no-repeat;
  height: 20px;
  width: 70px;
  right: -55px;
}

.mt-n6 {
  margin-top: -5rem;
}

.rounded-top-left {
  border-top-left-radius: 50px;
}

.rounded-bottom-right {
  border-bottom-right-radius: 50px;
}

.credit-card-tab.nav-pills .nav-link {
  border-radius: 0.25rem;
  background-color: #778191;
  border-radius: 0px;
  margin: 0px 1px;
  color: #fff;

  font-weight: 600;
  letter-spacing: 1px;
}

.credit-card-tab.nav-pills .nav-link.active,
.credit-card-tab.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #800000;
}

.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-lg {
  height: 60px;
  width: 60px;
  line-height: 60px;
}

.text-base {
  color: #778191;
}

.display-5 {
  font-size: 48px;
  line-height: 58px;
}

.display-6 {
  font-size: 42px;
  line-height: 55px;
}

.btn-outline-primary {
  color: #15549a;

  background-color: transparent;
  border: 1px solid #15549a;
}

.btn-outline-primary:hover {
  color: #fff;

  background-color: #15549a;
  border: 1px solid #15549a;
}

.pdt100 {
  padding-top: 100px;
}

.icon-md {
  height: 38px;
  width: 38px;
}

.font-10 {
  font-size: 10px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.badge-rate {
  position: absolute;
  right: 0;
  top: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 10px;
  font-weight: 400;
}

.icon-xs {
  width: 18px;
  height: 18px;
}

.credit-rating-form {
  margin-top: -12rem;
}

.bg-shape {
  position: relative;
}

.bg-shape::after {
  position: absolute;
  background: url(../images/curve-shape.svg);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: -15px;
  height: 62px;
  width: 100%;
  content: "";
  background-position-x: center;
}

.bg-warning {
  background-color: #ff9700;
}

.bg-warning-light {
  background-color: #ffe9ca;
}

.bg-success-light {
  background-color: #d4ffe0;
}

.bg-pink-light {
  background-color: #fee4ff;
}

.bg-gold-light {
  background-color: #f2f3b1;
}

.bg-danger {
  background-color: #df4040;
}

.bg-danger-light {
  background-color: #ffcece;
}

.bg-info-light {
  background-color: #dcf1ff;
}

.bg-info {
  background-color: #0099fa;
}

.bg-darkblue
{
    background-color: #125054;
}
.btn-color
{
    background-color: #15a193;
    color: white;
}
.bg-success {
  background-color: #1ca440;
}

.hero-compare-features {
  margin-top: -120px;
}

.bg-gray-shape {
  position: relative;
}

@font-face
{
    font-family: mySecondFont;
  src: url('Fortuna Bold Oblique.ttf');
    
}
/*
.font
{
    font-family: mySecondFont;
}
*/
.bg-gray-shape::before {
  position: absolute;
  background: url(../images/curve-shape-gray.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: -60px;
  height: 300px;
  width: 100%;
  z-index: -1;
  content: "";
  background-position-x: center;
}

.bg-gray-gradient {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) -2.89%,
      #ffffff 50.83%
    ),
    #f7f9fa;
}

.border-primary-light {
  border-color: #2567af;
}

.forex-nav .nav.nav-pills {
  margin-bottom: 30px;
}

.forex-nav .nav.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #800000;
  background-color: transparent;
  border-bottom: 2px solid;
  border-radius: 0px;
}

.forex-nav .nav.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 2px solid #dee7f2;
}

.forex-nav .tab-content {
  background-color: transparent;
  border: none;
  padding: 0px;
  box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.1);
}

.forex-nav .table > thead > tr > th {
  padding: 12px 12px 12px;
  line-height: 1.42857143;
  vertical-align: top;

  background-color: #15549a;
  border: none;
  color: #fff;
  font-weight: 600;
  border-top: 0px;
  text-align: left;
}

.forex-nav .table td,
.forex-nav .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: 14px;
  padding: 15px 20px;
}

.border-2 {
  border: 2px solid;
}

.border-primary-light {
  border-color: #2567af !important;
}

.bg-primary-light {
  background-color: #e0efff;
}

.btn-outline-default {
  border: 1px solid #800000;
  color: #800000;
  background-color: #fff;
}

.btn-outline-default:hover {
  border: 1px solid #800000;
  color: #fff;
  background-color: #800000;
}

.w-20 {
  width: 20%;
}

.w-lg-50 {
  width: 50% !important;
}

.ml-n1,
.mx-n1 {
  margin-left: -1px !important;
}

.lift {
  -webkit-transition: -webkit-box-shadow 0.25s ease,
    -webkit-transform 0.25s ease;
  transition: -webkit-box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  -o-transition: box-shadow 0.25s ease, transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease,
    -webkit-box-shadow 0.25s ease, -webkit-transform 0.25s ease;
}

.lift:focus,
.lift:hover {
  -webkit-box-shadow: 0 1rem 2.5rem rgba(27, 22, 66, 0.1),
    0 0.5rem 1rem -0.75rem rgba(27, 22, 66, 0.1) !important;
  box-shadow: 0 1rem 2.5rem rgba(27, 22, 66, 0.1),
    0 0.5rem 1rem -0.75rem rgba(27, 22, 66, 0.1) !important;
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}

/* Custom */
.navbar-brand {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(245, 241, 241) !important;
  width: 15%;
}

.sub-title {
  font-size: small;
  position: relative;
  top: -21px;
}
.c-center{
  text-align: center
}
.cs-fz-12{
  font-size:12px;
}
.cs-f-w{
  color: white;
}
.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;

}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
width: 30px;
height: 30px;
text-align: center;
padding: 6px 0;
font-size: 12px;
line-height: 1.428571429;
border-radius: 15px;
}


/* Custom */

@media only screen and (max-width: 460px) {
  .w-lg-50 {
    width: 100% !important;
  }

  .working-card:before {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .forex-counter .card {
    border-left: 0px;
    border-right: 0px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .score-deck.card-deck {
    display: inherit;
  }
}

.split-img {
  height: 360px;
  width: 735px;
  position: relative;
  background-size: cover;
  background-position-x: center;
}

@media screen and (max-width: 1366px) {
  .slider-captions {
    position: absolute;
    bottom: 70px;
    width: 100%;
  }

  .slider-title {
    color: #09282A;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
  }

  .slider .owl-prev {
    position: absolute;
    left: 0px;
    top: 40%;
    left: 0px;
  }

  .slider .owl-next {
    position: absolute;
    right: 0px;
    top: 40%;
    right: 0px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1440px) {
  .slider-captions {
    position: absolute;
    bottom: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  /*--------------- index - 8 -------------*/
  .refinance-rate-block-title {
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 27px;
  }

  .loan-half-section {
    padding: 50px;
  }

  /*--------------- card landing page  ---------- */
  .card-benefit-tabs .st-tabs .nav-link {
    display: block;
    padding: 16px 27px;
  }

  /*--------------- borrow life saving   ---------- */
  .bank-account-tabs.st-tabs .nav-link {
    padding: 16px 46px;
  }
}

/*============= media query max-width: 768px; =============*/
@media only screen and (max-width: 768px) {
  /* start query */
  .header {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /*--------------- slider for mobile view ( for mobile view  )---------- */
  .slider-captions {
    position: absolute;
    bottom: 28px;
    text-align: center;
  }

  .slider-title {
    color: #09282A;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
  }

  .slider .owl-prev {
    position: absolute;
    left: 0px;
    top: 30%;
    left: 0px;
  }

  .slider .owl-next {
    position: absolute;
    right: 0px;
    top: 30%;
    right: 0px;
  }

  /*--------------- Page Header ( for mobile view  )---------- */
  .page-header {
    padding: 40px 0px 80px;
    min-height: 200px;
  }

  .page-title {
    font-size: 28px;
  }

  .btn-action {
    text-align: center;
  }

  .btn-action .btn {
    padding: 10px;
    float: left;
    margin-left: 5px;
  }

  .sub-nav > .nav li a {
    border-bottom: 1px solid #dee7f2;
    margin-bottom: 0px;
  }

  .childern {
    padding-left: 0px;
  }

  .widget-share {
    background-color: #fff;
    padding: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .search-nav {
    display: none;
  }

  .rate-counter-block {
    text-align: center;
  }

  .rate-icon {
    float: none;
    margin-bottom: 10px;
  }

  .loan-rate {
    font-size: 24px;
  }

  /*--------------- index - 4 ()-------------*/
  .header-transparent {
    position: relative;
    background-color: #15549a;
  }

  .video-play {
    left: 39%;
    top: 45px;
  }

  .st-tabs .nav-link {
    padding: 16px 11px;
  }

  .sub-nav > .nav li a {
    padding: 8px 0px;
    font-size: 11px;
  }

  .portfolioFilter a {
    text-transform: uppercase;
    background-color: #eff3f8;
    padding: 8px 16px;
  }

  /*--------------- index-6 ---------- */
  .lead-hero-caption {
    padding-top: 0px;
  }

  .header-wide .lead {
    font-size: 19px;
  }

  /*--------------- index-7 ---------- */

  /*--------------- index-8 ---------- */
  .refinance-hero-block {
    padding-top: 100px;
    padding-bottom: 160px;
  }

  .loan-half-section {
    padding: 66px;
  }

  /*--------------- compare credit card  ---------- */
  .expandable-info .card {
    min-height: inherit;
  }

  /*--------------- compare personal loan card  ---------- */
  .compare-personal-loan-table .table > tbody > tr > td {
    padding: 6px;
  }

  .compare-personal-loan-title {
    font-size: 13px;
    font-weight: 600;
    display: block;
    width: 148px;
  }

  .expandable-info .card {
    min-height: inherit;
  }

  /*--------------- compare student loan card  ---------- */
  .compare-student-loan-table .table > tbody > tr > td {
    padding: 6px;
  }

  .compare-student-loan-title {
    font-size: 13px;
    font-weight: 600;
    display: block;
    width: 148px;
  }

  .expandable-info .card {
    min-height: inherit;
  }

  /*--------------- card landing page  ---------- */

  .card-benefit-tabs .st-tabs .nav-link {
    display: block;
    padding: 16px 8px;
  }

  .card-benefit-tabs .st-tabs a {
    font-size: 12px;
  }

  /*--------------- Index - 9 bank borrow  ---------- */
  .overlay-section {
    margin-top: 0px;
    padding: 60px;
  }

  .overlay-section .card {
    margin-bottom: 20px;
  }

  .post-caption-content h3 {
    font-size: 12px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 460px) {
  /*--------------- slider for mobile view ( for mobile view  )---------- */
  .slider-captions {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
  }

  .slider-title {
    color: #09282A;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
  }

  .slider .owl-prev {
    position: absolute;
    left: 0px;
    top: 30%;
    left: 0px;
  }

  .slider .owl-next {
    position: absolute;
    right: 0px;
    top: 30%;
    right: 0px;
  }

  .rate-icon {
    float: none;
  }

  .rate-counter-block {
    text-align: center;
  }

  .loan-rate {
    font-size: 24px;
  }

  .widget-share {
    background-color: #fff;
    padding: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .search-nav {
    display: none;
  }

  .top-text {
    padding-left: 14px;
  }

  .header-action {
    text-align: center;
  }

  .rate-badge {
    display: none;
  }

  .video-play {
    left: 39%;
  }

  /*--------------- index-6 ---------- */
  .lead-hero-caption {
    padding-top: 0px;
  }

  /*--------------- index-7 ---------- */

  .hero-tab-block {
    padding-top: 91px;
    padding-bottom: 100px;
  }

  /*--------------- index-8 ---------- */
  .refinance-rate-block-title {
    font-size: 24px;
  }

  .refinance-hero-block {
    padding-top: 44px;
  }

  /*--------------- compare credit card  ---------- */
  .compare-table .table > tbody > tr > td {
    padding: 10px;
  }

  .compare-card-title {
    font-size: 13px;
    font-weight: 600;
    display: block;
    width: 148px;
  }

  .expandable-info .card {
    min-height: inherit;
  }

  /*--------------- compare personal loan card  ---------- */
  .compare-personal-loan-table .table > tbody > tr > td {
    padding: 10px;
  }

  .compare-personal-loan-title {
    font-size: 13px;
    font-weight: 600;
    display: block;
    width: 148px;
  }

  .expandable-info .card {
    min-height: inherit;
  }

  /*--------------- compare student loan card  ---------- */
  .compare-student-loan-table .table > tbody > tr > td {
    padding: 10px;
  }

  .compare-student-loan-title {
    font-size: 13px;
    font-weight: 600;
    display: block;
    width: 148px;
  }

  .expandable-info .card {
    min-height: inherit;
  }

  /*--------------- card landing page  ---------- */
  .card-benefit-tabs .st-tabs .nav-link {
    display: block;
    padding: 16px 58px;
    border: 1px solid #f6f9ff;
    border-radius: 5px;
    background-color: #f6f9ff;
    margin-bottom: 8px;
    margin-right: 10px;
  }

  .header-wide .lead,
  .header-wide .lead {
    font-size: 13px;
  }

  .card-hero-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  /*--------------- Index - 9 bank borrow  ---------- */
  .overlay-section {
    margin-top: 0px;
  }

  .overlay-section .card {
    margin-bottom: 20px;
  }

  .hover-tabs.st-tabs .nav-link {
    display: block;
    padding: 0px 39px 3px 0px;
  }

  .quick-info span:nth-child(2) {
    display: none;
  }

  /*--------------- borrow-life-saving  ---------- */
  .bank-account-tabs.st-tabs .nav-link {
    padding: 16px 57px;
  }
  .navbar-brand {
    font-size: 1.5rem;
    width: 28%;
  }
  .sub-title {
    font-size: xx-small;
    top: -12px;
  }
}

@media only screen and (max-width: 320px) {
  /*--------------- slider for mobile view ( for mobile view  )---------- */
  .slider-captions {
    position: absolute;
    bottom: 18px;
    text-align: center;
    width: 100%;
  }

  .slider-title {
    color: #09282A;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
  }

  .slider .owl-prev {
    position: absolute;
    left: 0px;
    top: 30%;
    left: 0px;
  }

  .slider .owl-next {
    position: absolute;
    right: 0px;
    top: 30%;
    right: 0px;
  }

  .rate-icon {
    float: none;
  }

  .rate-counter-block {
    text-align: center;
  }

  .loan-rate {
    font-size: 24px;
  }

  .widget-share {
    background-color: #fff;
    padding: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .search-nav {
    display: none;
  }
  .navbar-brand {
    font-size: 1.5rem;
    width: 28%;
  }
  .sub-title {
    font-size: xx-small;
    top: -12px;
  }
}

.header-topbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  font-size: 12px;
  color: #115054;
  font-weight: bold;
  text-transform: uppercase;
}

.cs-theme-font-color{
  color: #115054 !important;
  font-weight: bold;
}